<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuhai.myframe2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<!--    什么鬼 我子module没有引用这个权限啊 为啥添加就拍照不了 报权限重复？！-->
<!--    <uses-permission android:name="android.permission.CAMERA"/>-->

    <!--  蓝牙所需的两个权限  -->
    <uses-permission android:name = "android.permission.BLUETOOTH"/>
    <!--启用应用启动设备发现或者操作蓝牙设备的超级管理员-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!--自定义访问权限 限制外部跳转ActionReceiveActivity2，外部应用需要添加权限才能跳转 myclient btn05(在清单文件申请了权限)-->
    <permission android:name="com.permission.COME" />

    <!-- 个推添加的必要权限   -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>




    <!--个推 在Android 9.0以上默认不支持http通信，为保证SDK正常使用，maven库中已添加如下属性    -->
    <!--android:usesCleartextTraffic="true"    -->
    <application
        android:name=".application.BaseApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 适配Android 7.0  -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--Intent+bundle实现跨进程通讯 接收方-->
        <activity android:name=".ui.ActionReceiveActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.wuhai.myframe2.MYACTION" />
                <data android:scheme="info" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--Intent+bundle实现跨进程通讯 接收方2-->
        <activity
            android:name=".ui.ActionReceiveActivity2"
            android:exported="true"
            android:screenOrientation="portrait"
            android:permission="com.permission.COME">
        </activity>

        <!--Retrofit网络请求框架  普通到进化成捎货帮用的那样-->
        <activity android:name=".ui.retrofit.RetrofitNetworkRequestActivity"
            android:screenOrientation="portrait"/>
        <!--Retrofit+RxJava+RxLifecycle-->
        <activity android:name=".ui.retrofit.RetrofitRxJavaRxLifecycleActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.Launcher"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--约束布局-->
        <activity android:name=".ui.ConstraintLayoutActivity"
            android:screenOrientation="portrait"/>
        <!-- 内容提供者 创建db插入数据 -->
        <activity android:name=".ui.contentprovider.ContentProviderServerActivity"
            android:screenOrientation="portrait"/>
        <!-- 内容提供者 校验MyProvider/MyProvider2 两个内容提供者 -->
        <activity
            android:name=".ui.contentprovider.ContentProviderClientActivity"
            android:process=":newprocess" />
        <!-- exported:属性值为true，则对外暴露数据 -->
        <provider
            android:name=".ui.contentprovider.MyProvider"
            android:authorities="com.wuhai.myframe2.ui.contentprovider.MyProvider"
            android:exported="true"
            />
        <!--myclient项目app 将从MyProvider2获取数据-->
        <provider
            android:name=".ui.contentprovider.MyProvider2"
            android:authorities="com.wuhai.myframe2.ui.contentprovider.MyProvider2"
            android:exported="true" />

        <!-- rxjava -->
        <activity
            android:name=".ui.rxjava.RxJavaActivity"
            android:process=":newprocess" />

        <!--MVVM-->
        <activity android:name=".ui.MvvmActivity"
            android:screenOrientation="portrait"/>

        <!--自定义控件-->
        <activity android:name=".ui.customview.CustomViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.customview.HeaderTextGridViewActivity"
            android:screenOrientation="portrait"/>

        <!--glide ac-->
        <activity android:name=".ui.glide.GlideActivity"
            android:screenOrientation="portrait"/>

        <!--StickyHeaderListView-->
        <activity android:name=".ui.stickyheaderlistview.ui.StickyHeaderListView"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.stickyheaderlistview.ui.AboutActivity"
            android:screenOrientation="portrait"/>

        <!--声音-->
        <activity android:name=".ui.sound.SoundActivity"
            android:screenOrientation="portrait"/>

        <!--RxBus-->
        <activity android:name=".ui.rxbus.RxBusAcceptActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.rxbus.RxBusPostActivity"
            android:screenOrientation="portrait"/>

        <!--EventBus-->
        <activity android:name=".ui.eventbus.EnventbusActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.eventbus.Enventbus1Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.eventbus.Enventbus2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.eventbus.Enventbus3Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.eventbus.Enventbus4Activity"
            android:process=":eventbus"
            android:screenOrientation="portrait"/>

        <!--OkHttpActivity-->
        <activity android:name=".ui.okhttp3.OkHttpActivity"
            android:screenOrientation="portrait"/>

        <!--TAKE_PICTURE(拍照 测试myhydemo为啥崩溃)-->
        <activity android:name=".ui.TakePictureActivity"
            android:screenOrientation="portrait"/>

        <!--slidableActivity(右滑退出Activity)-->
        <activity android:name=".ui.SlidableActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!--  原myframe的侧滑销毁activity start      -->
        <activity
            android:name=".ui.slidingfinish.SlidingFinishActivity"
            android:screenOrientation="portrait" />
        <!-- Theme.Translucent 有titlebar -->
        <activity
            android:name=".ui.slidingfinish.AbsActivity"
            android:theme="@android:style/Theme.Translucent" />
        <!-- Theme.Translucent.NoTitleBar 没有titlebar -->
        <activity
            android:name=".ui.slidingfinish.NormalActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.slidingfinish.ScrollActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".ui.slidingfinish.ViewPagerActivity"
            android:theme="@android:style/Theme.Translucent" />
        <!--  原myframe的侧滑销毁activity end      -->

        <!--  仿头条评论页侧滑下滑退出ac      -->
        <activity
            android:name=".ui.slidingfinish.NormalActivity2"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".ui.slidingfinish.AbsActivity2"
            android:theme="@android:style/Theme.Translucent" />

        <!--  现场保护      -->
        <activity
            android:name=".ui.SaveInstanceStateActivity"/>

        <!--  蓝牙      -->
        <activity
            android:name=".ui.blutooth.BluetoothActivity"/>
        <!--  静态注册 蓝牙状态监听      -->
<!--        <receiver android:name=".ui.blutooth.BluetoothStateBroadcastReceive">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"/>-->
<!--                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>-->
<!--                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!--  发送广播      -->
        <activity
            android:name=".ui.broadcast.SendBroadcastActivity"
            android:screenOrientation="portrait"/>
        <!--  自己app内广播接收者      -->
        <receiver android:name=".ui.broadcast.MyReveiver" >
            <!-- priority:优先级 -->
            <intent-filter android:priority="500" >
                <action android:name="abc" />
            </intent-filter>
        </receiver>

        <!--  动画      -->
        <activity
            android:name=".ui.animation.AnimationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.animation.Animation1Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.animation.Animation2Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.animation.Animation3Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.animation.SurfaceViewActivity"
            android:screenOrientation="portrait"/>

        <!-- 个推    自定义service   -->
        <service
            android:name=".business.getui.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>
        <!-- permission属性在2.13.1.0版本后必须配置 -->
        <service
            android:name=".business.getui.DemoIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <!--  测试通知用      -->
        <service
            android:name=".ui.notificaitons.NotificationService"
            android:exported="false" />

        <!--  日期选择      -->
        <activity
            android:name=".ui.DialogChooseDateActivity"
            android:screenOrientation="portrait"/>

        <!--  地址选择      -->
        <activity
            android:name=".ui.AddressChooseActivity"
            android:screenOrientation="portrait"/>

        <!--  首页复杂布局实现方案      -->
        <activity
            android:name=".ui.homepage.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.homepage.HomePageActivity1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.homepage.qddgouwu.ShoppingActivity"
            android:screenOrientation="portrait"/>

        <!--  浮动item      -->
        <activity
            android:name=".ui.floatview.FloatViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.floatview.FloatView1Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.floatview.FloatView2Activity"
            android:screenOrientation="portrait"/>

        <!--  Spinner      -->
        <activity
            android:name=".ui.SpinnerActivity"
            android:screenOrientation="portrait"/>

        <!--  PopWindow      -->
        <activity
            android:name=".ui.popwindow.PopWindowActivity"
            android:screenOrientation="portrait"/>

        <!--  可根据选项自动换行的单选/多选/排他选      -->
        <activity
            android:name=".ui.autowrap.AutoWrapActivity"
            android:screenOrientation="portrait"/>

        <!--  事件传递机制      -->
        <activity
            android:name=".ui.eventtransmit.EventTransmitActivity"
            android:screenOrientation="portrait"/>

        <!--  asynctask 测试      -->
        <activity
            android:name=".ui.asynctask.AsyncTaskActivity"
            android:screenOrientation="portrait"/>

        <!--  寻医问药 登录控件+网络请求      -->
        <activity
            android:name=".ui.xywy.InputWidgetActivity"
            android:screenOrientation="portrait"/>

        <!--   CountdownView 倒计时     -->
        <activity android:name=".ui.countdownview.CountdownViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.countdownview.DynamicShowActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.countdownview.ListViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.countdownview.RecyclerViewActivity"
            android:screenOrientation="portrait"/>

        <!--   导航     -->
        <activity
            android:name=".ui.navigation.NavigationMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.navigation.navigationmenu1.NavigationMenu1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.navigation.navigationmenu2.NavigationMenu2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.navigation.navigationmenu3.NavigationMenu3Activity"
            android:screenOrientation="portrait" />

        <!--   材料设计     -->
        <activity
            android:name=".ui.materialdesign.MaterialDesignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.materialdesign.NavigationViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.materialdesign.yxt.RetailSalerBrandPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.materialdesign.CollapsingtToolbarlayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.DesignDemo" />

        <!--   热门标签的流式布局FlowLayout     -->
        <activity
            android:name=".ui.flowlayout.FlowLayoutActivity"
            android:screenOrientation="portrait"/>

        <!--   谷歌FlexboxLayout     -->
        <activity
            android:name=".ui.flexboxlayout.FlexboxLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.flexboxlayout.FlexboxLayout01Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.flexboxlayout.FlexboxLayout02Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.flexboxlayout.FlexboxLayout03Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.flexboxlayout.FlexboxLayout04Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.flexboxlayout.FlexboxLayout05Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.flexboxlayout.FlexboxLayout06Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.flexboxlayout.FlexboxLayout07Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.flexboxlayout.FlexboxLayout08Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.flexboxlayout.RecyclerViewActivity"
            android:screenOrientation="portrait"/>

        <!--   横屏生命周期     -->
        <activity
            android:name=".ui.HorizontalScreenActivity"/>

    </application>

</manifest>